/* ==========================================================================
	Base customize for button
	========================================================================== */
.btn
	display: inline-flex
	align-items: center
	justify-content: center
	height: 40px
	padding-left: 40px
	padding-right: 40px
	border-radius: 0
	border: 0
	background-color: $trsp
	color: $text-200
	font-family: inherit
	font-size: 15px
	font-weight: $w-regular
	line-height: 1
	text-align: center
	white-space: nowrap
	outline: none !important
	user-select: none
	transition: $trs
	&:hover
		color: inherit
	&:disabled
		opacity: 0.5

/* ==========================================================================
	Themes buttons
	========================================================================== */
.btn.btn-primary
	background-color: $bg
	color: $orange
	&:hover
		background-color: $bg-hover
	&:active
		background-color: $bg-focus

.btn.btn-secondary
	height: 56px
	background-color: $orange
	color: $white
	+font-size(xs)
	text-transform: uppercase
	&:hover
		background-color: $text-200
	&:active
		background-color: $text-300

.btn.btn-outline
	padding-left: 18px
	padding-right: 18px
	border: 1px solid $border
	background-color: $white
	color: $text-200
	&:hover
		border-color: $bg
		background-color: $bg
		color: $orange
	&:active
		border-color: $bg-hover
		background-color: $bg-hover

/* ==========================================================================
	Corner button
	========================================================================== */
.btn.btn-corner
	margin-right: 20px
	padding: 0 6px 0 12px
	background-color: $bg
	color: $orange
	&:hover
		background-color: $bg-hover
		&::after
			border-left-color: $bg-hover
	&:active
		background-color: $bg-focus
		&::after
			border-left-color: $bg-focus
	&::after
		content: ''
		position: absolute
		top: 0
		bottom: 0
		right: -40px
		border: 20px solid $trsp
		border-left-color: $bg
		transition: border .3s ease

/* ==========================================================================
	Burger button
	========================================================================== */
.btn.btn-burger
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	width: 28px
	height: 15px
	padding: 0
	&:hover
		> span
			background-color: $orange
	> span
		display: block
		width: 100%
		height: 1px
		will-change: transform
		background-color: $text-200
		transition: background-color .3s ease, transform .3s ease, opacity .15s ease
	&._is-toggled
		> span
			transform-origin: 50%
			&:nth-child(1)
				transform: translateY(7px) rotate(45deg)
			&:nth-child(2)
				opacity: 0
				transform: scale(0)
			&:nth-child(3)
				transform: translateY(-7px) rotate(-45deg)

/* ==========================================================================
	Close button
	========================================================================== */
.btn.btn-close
	height: auto
	padding-left: 0
	padding-right: 0
	font-size: 16px
	&:hover
		color: $orange

/* ==========================================================================
	Dropdown button
	========================================================================== */
.btn.btn-dropdown
	padding-left: 0
	padding-right: 0
	height: auto
	color: $text-300
	&[aria-expanded="true"]
		.icon
			transform: scaleY(1)
	.icon
		flex: 0 0 auto
		width: 16px
		height: 16px
		margin-left: 8px
		fill: $text-200
		transform: scaleY(-1)
		transition: transform .3s ease, fill .3s ease
	&:hover
		color: $orange
		.icon
			fill: $orange

/* ==========================================================================
	Show more button
	========================================================================== */
.show-more-list > div
	display: none
	&:nth-child(-n+6)
		display: block

.show-more,
.readmore,
.exemplars-more
	.btn-more--show
		pointer-events: none
		visibility: hidden
		&._is-visible
			pointer-events: auto
			visibility: visible

.btn.btn-more
	padding-left: 0
	padding-right: 0
	height: auto
	color: $text-300
	&.btn-more--hide
		display: none
		.icon
			transform: scaleY(1)
	&._is-toggled
		display: none !important
		~ .btn-more--hide
			display: inline-flex
	.icon
		flex: 0 0 auto
		width: 16px
		height: 16px
		margin-left: 8px
		fill: $text-200
		transform: scaleY(-1)
		transition: transform .3s ease, fill .3s ease
	&:hover
		color: $orange
		.icon
			fill: $orange

/* ==========================================================================
	Add to cart button
	========================================================================== */
.btn-purchase
	padding-left: 16px
	padding-right: 16px
	white-space: normal
	text-align: left
	+media-breakpoint-down(xxs)
		padding-left: 10px
		padding-right: 10px
	&._added
		.before-added
			display: none
		.after-added
			display: flex
			align-items: center
			.icon
				flex: 0 0 auto
				fill: $orange
				width: 16px
				height: 16px
			span
				margin-left: 12px
				color: $text-200
				+font-size(xs)
				font-weight: $w-regular
				+media-breakpoint-down(md)
					margin-left: 6px
					font-size: 12px
				+media-breakpoint-down(xxs)
					font-size: 11px
				> a
					color: $orange
					font-weight: $w-bold
					&:hover
						text-decoration: underline
	&:not(._added)
		.before-added
			display: block
		.after-added
			display: none

/* ==========================================================================
	Go up button
	========================================================================== */
.go-up
	pointer-events: none
	position: fixed
	bottom: 20px
	right: -20px
	width: 40px
	z-index: 199
	visibility: hidden
	opacity: 0
	transform-origin: bottom left
	transform: rotate(-90deg) translateY(12px)
	transition: $trs
	+media-breakpoint-down(xs)
		top: 48px
		left: 0
		right: 0
		bottom: auto
		width: 100%
		transform: none
		transition: visability .3s ease, opacity .3s ease
	&._is-shown
		pointer-events: auto
		visibility: visible
		opacity: 1
		transform: rotate(-90deg) translateY(0)
		+media-breakpoint-down(xs)
			transform: none
	&-btn
		height: 40px
		padding: 12px
		box-shadow: $box-shadow
		background-color: $white
		color: $orange
		font-size: 14px
		+media-breakpoint-down(xs)
			width: 100%
			border-top: 1px solid $border
			box-shadow: 0px 10px 15px rgba(176, 190, 197, 0.22)
			&:hover
				background-color: $orange
				color: $white
		&:hover
			box-shadow: none
			background-color: $bg
			color: $orange
		.icon
			width: 12px
			height: 12px
			margin-left: 4px
			+media-breakpoint-down(xs)
				transform: rotate(-90deg)
