/* ==========================================================================
 Base customize for cards
 ========================================================================== */
.card
	position: relative
	display: block
	min-width: 0
	height: 100%
	&-photo
		position: relative
		user-select: none
	&-meta
		margin-top: 16px
		.permalink
			display: inline-block
			word-break: break-word

/* ==========================================================================
 Brand card
 ========================================================================== */
.card-brand
	.card-photo
		height: 208px
	.card-meta
		.product-country
			> span
				color: $text-300
				+font-size(xs)
		.collections
			margin-top: 8px
			color: $text-300

/* ==========================================================================
 Collection card
 ========================================================================== */
.card-collection
	height: auto
	z-index: 1
	&::before,
	.card-details .exemplars::before,
	.card-details .attributes::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		width: calc(100% + 32px)
		margin: -16px
		box-shadow: $box-shadow-2
		background-color: $white
		visibility: hidden
		opacity: 0
		transition: $trs
		+media-breakpoint-down(sm)
			display: none
	.card-details .attributes::before
		z-index: -1
	&:hover
		z-index: 2
		&::before,
		.card-meta::before,
		.card-details .exemplars-more,
		.card-details .attributes::before,
		.card-details .attributes
			visibility: visible
			opacity: 1
	.card-photo
		height: 248px
		&-btn
			position: absolute
			left: 0
			right: 0
			bottom: 16px
			z-index: 2
			text-align: center
			> a:first-child
				display: inline-flex
				align-items: center
				justify-content: center
				padding: 4px 12px
				border-radius: 24px
				background-color: rgba($white, 0.7)
				&:hover
					background-color: $bg
					color: $orange
				&:active
					background-color: $bg-hover
				.icon
					width: 24px
					height: 24px
					margin-right: 8px
			> a:not(:first-child)
				display: none
	.card-meta
		position: relative
		z-index: 2
		&::before
			content: ''
			position: absolute
			top: 0
			left: -16px
			right: -16px
			z-index: -1
			height: 100%
			background-color: $white
			visibility: hidden
			opacity: 0
			transition: $trs
		.permalink
			font-weight: $w-bold
		.product-price
			color: $text-300
			> span
				margin-left: 4px
				margin-right: 4px
				color: $text-200
				+font-size(lg)
	.card-details
		.exemplars
			position: relative
			z-index: 2
			background-color: $white
			&._is-loading
				pointer-events: none
				&::after
					content: ''
					position: absolute
					top: 0
					left: 0
					z-index: 1
					display: flex
					align-items: center
					justify-content: center
					width: 100%
					height: 100%
					background: rgba($white, 0.85) url('../images/loader.gif') no-repeat center/46px
			&._is-toggled
				.exemplars-title
					display: block
			&-item
				display: none
				margin-top: 16px
				&:nth-child(1)
					display: block
			&-title
				display: none
				margin-bottom: 8px
			&-list
				display: flex
				flex-wrap: wrap
				align-items: flex-end
				margin-top: -3px
				margin-bottom: -3px
				> li
					flex: 0 0 auto
					margin-right: 7px
					margin-top: 3px
					margin-bottom: 3px
					> a
						display: block
						width: 32px
						height: 64px
						background-size: contain
						background-repeat: no-repeat
						background-position: center bottom
			&-more
				margin-top: 16px
				+media-breakpoint-up(md)
					opacity: 0
					visibility: hidden
					transition: $trs
				.btn.btn-more
					color: $orange
					+font-size(xs)
					.icon
						fill: $orange
					&:hover
						color: $text-200
						.icon
							fill: $text-200
		.attributes
			margin-top: 16px
			+media-breakpoint-up(md)
				position: absolute
				top: 100%
				left: 0
				right: 0
				z-index: 1
				visibility: hidden
				opacity: 0
			> ul
				> li
					position: relative
					z-index: 1
					display: flex
					+font-size(xs)
					transition: .3s ease
					&:not(:last-child)
						margin-bottom: 6px
					.attr
						padding-right: 4px
						color: $text-300
						+media-breakpoint-down(md)
							flex: 0 0 50%
							word-break: break-all
					.value
						color: $text-200
						+media-breakpoint-down(md)
							flex: 0 0 50%
							word-break: break-all

/* ==========================================================================
 Product card
 ========================================================================== */
.card-product
	z-index: 1
	height: auto
	.card-shadow
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		width: calc(100% + 32px)
		margin: -16px
		box-shadow: $box-shadow-2
		background-color: $white
		visibility: hidden
		opacity: 0
		transition: $trs
		+media-breakpoint-down(md)
			display: none
	&:hover
		z-index: 2
		.card-shadow,
		.card-attributes > ul > li
			visibility: visible
			opacity: 1

	.card-photo
		height: 248px
		+media-breakpoint-down(xs)
			height: 136px
		img
			width: 100%
			height: 100%
			object-fit: scale-down
			object-position: left bottom
			transform-origin: left bottom
			+media-breakpoint-down(md)
				object-position: center bottom
				transform-origin: center bottom

	.card-meta
		.product-country
			+mt(16)
		.product-price
			margin-top: 8px

	.card-buttons
		margin-top: 12px
		margin-bottom: 12px

	.card-attributes
		position: relative
		z-index: -1
		+media-breakpoint-down(md)
			display: none
		> ul
			> li
				position: relative
				z-index: 1
				display: flex
				+font-size(xs)
				visibility: hidden
				opacity: 0
				transition: .3s ease
				&:not(:last-child)
					margin-bottom: 6px
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3)
					visibility: visible
					opacity: 1
				.attr
					padding-right: 4px
					color: $text-400
				.value
					color: $text-300

/* ==========================================================================
 Article card
 ========================================================================== */
.card-article
	.card-photo
		height: 208px
	.card-meta
		.date
			margin-bottom: 16px
		.permalink
			letter-spacing: 0.02em
		.excerpt
			margin-top: 8px
			margin-bottom: 0
