/* ==========================================================================
	 Page heading
	 ========================================================================== */
.page-heading
	margin-bottom: 48px
	+media-breakpoint-down(sm)
		margin-bottom: 32px
	.breadcrumbs
		~ .title
			margin-top: 48px
			+media-breakpoint-down(sm)
				margin-top: 24px
	.title
		margin-bottom: 0

