/* ==========================================================================
	 Product country
	 ========================================================================== */
.product-country
	display: flex
	align-items: center
	flex-wrap: wrap
	margin-top: 8px
	> img
		width: 16px
		height: 16px
		margin-right: 6px
	> span
		color: $text-200
		+font-size(sm)
		+media-breakpoint-down(xs)
			+font-size(xs)
		&:not(:last-child)
			margin-right: 8px


/* ==========================================================================
	 Product price
	 ========================================================================== */
.product-price
	display: flex
	flex-wrap: wrap
	align-items: center
	margin-top: 8px
	> del
		color: $text-400
		~ ins
			color: $orange
			flex: 0 0 100%
	> ins
		color: $text-200
		+font-size(lg)
		text-decoration: none
		> sup
			color: $text-300
			+font-size(xs)


/* ==========================================================================
	 Proudct categories/subcategories
	 ========================================================================== */
.shop-categories
	&-item
		overflow: hidden
		display: flex
		height: 48px
		&._is-active
			pointer-events: none
			color: $text-200
			.title
				background-color: $bg
		&:hover
			color: $text-200
			.title
				background-color: $bg
		&:active
			.title
				background-color: $bg-hover
		.photo
			flex: 0 0 auto
			width: 80px
			height: 100%
		.title
			flex: 1 1 auto
			display: flex
			align-items: center
			height: 100%
			padding-left: 12px
			border: 1px solid $border
			border-left: 0
			background-color: $white
			+font-size(xxs)
			font-weight: $w-bold
			text-transform: uppercase
			word-break: break-word
			transition: background-color .3s ease


/* ==========================================================================
	 Shop tabs
	 ========================================================================== */
.shop-tabs
	overflow-x: auto
	display: flex
	margin-top: 48px
	margin-bottom: 24px
	&-item
		position: relative
		border-bottom: 1px solid $trsp
		transition: border-color .3s ease
		&:not(:last-child)
			margin-right: 40px
			+media-breakpoint-down(xs)
				margin-right: 20px
		&:hover
			border-bottom-color: $text-400
		&._current
			pointer-events: none
			border-bottom-color: $orange
			> a,
			> a > span
				color: $orange
		> a
			display: inline-block
			padding-bottom: 16px
			+font-size(xl)
			&:hover
				color: $text-200
			> span
				color: $text-400


/* ==========================================================================
	 Shop filters
	 ========================================================================== */
.shop-filters
	margin-bottom: 32px
	+media-breakpoint-down(md)
		margin-bottom: 24px

	&-actions
		display: flex
		align-items: center
		justify-content: flex-end
		+media-breakpoint-down(md)
			justify-content: space-between
			margin-bottom: 24px

	// Close filters button
	&-close
		&.btn
			display: none
			padding: 0
			+media-breakpoint-down(md)
				display: block

	// Reset filters button
	&-reset
		display: inline-flex
		align-items: center
		color: $orange
		visibility: hidden
		opacity: 0
		transition: $trs
		&._is-shown
			visibility: visible
			opacity: 1
		&:hover
			color: $text-200
		> span
			+font-size(xs)
		> .icon
			width: 16px
			height: 16px
			margin-left: 8px

	// Filters form
	&-form
		margin-bottom: 30px
		+media-breakpoint-down(md)
			pointer-events: none
			overflow-x: hidden
			position: fixed
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 999
			max-width: 320px
			margin-bottom: 0
			padding: 16px
			background-color: $white
			visibility: hidden
			opacity: 0
			transform: translateX(-10px)
			transition: $trs
		&._is-active
			pointer-events: auto
			visibility: visible
			opacity: 1
			transform: none

	// Price slider
	&-price
		display: flex
		height: 56px
		&-label
			flex: 0 0 auto
			align-self: center
			margin-right: 16px
			color: $text-200
		&-slider
			flex: 1 1 auto
			align-self: flex-end
		&-range
			display: flex
			align-items: center
			.form-control
				border-bottom-color: $border
			> span
				margin-left: 12px
				margin-right: 12px
				color: $orange

	// Dropdown with checkboxes
	&-item
		+media-breakpoint-down(md)
			margin-top: 16px
		&._is-active
			.btn.btn-dropdown
				border-bottom-color: $text-200
				font-weight: $w-bold
				.key::after
					content: ':'
		&.show
			.btn.btn-dropdown
				border-bottom-color: $orange
		.btn.btn-dropdown
			width: 100%
			justify-content: space-between
			height: 56px
			border-bottom: 1px solid $border
			color: $text-200
			text-align: left
		.dropdown-menu
			width: 100%
			padding-bottom: 16px
			&::before
				left: 50%
				transform: translateX(-50%)
			+media-breakpoint-down(md)
				position: static !important
				transform: none !important
				padding: 0
				box-shadow: none
				&::before
					display: none
	&-name
		position: relative
		overflow: hidden
		flex: 1 1 auto
		display: flex
		&::after
			content: ''
			pointer-events: none
			position: absolute
			top: 0
			right: 0
			z-index: 1
			width: 60px
			height: 100%
			background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%)
		.key
			flex: 0 0 auto
		.values
			flex: 1 1 auto
			margin-left: 4px
	&-list
		.form-checkbox
			&:last-child
				margin-bottom: 0

	// Sort
	&-sort
		+media-breakpoint-down(md)
			display: none
		&-label
			flex: 0 0 auto
			margin-right: 16px
			color: $text-300
			+font-size(xs)
		&-list
			display: inline-flex
			flex-wrap: wrap
			> a
				padding: 8px
				background-color: $trsp
				color: $text-300
				+font-size(xs)
				&:not(:last-child)
					margin-right: 16px
				&:hover
					color: $text-200
					background-color: #f5f5f5
				&._is-active
					pointer-events: none
					background-color: $bg
					color: $orange

	// Toggle filters button
	&-mobile
		display: none
		+media-breakpoint-down(md)
			display: flex
			align-items: center
			justify-content: space-between
		.sort
			&-list
				> a
					display: block
					padding-top: 2px
					padding-bottom: 2px
					font-size: 14px
					&._is-active
						pointer-events: none
						color: $orange
		.filters
			&-btn.btn
				height: auto
				padding-left: 0
				padding-right: 0
				&:hover
					color: $orange
				> .icon
					width: 24px
					height: 24px
					margin-right: 8px


/* ==========================================================================
	 Shop promo banner
	 ========================================================================== */
.shop-promo
	display: block
	text-align: center
	picture
		display: block

