/* ==========================================================================
	 Page brands
	 ========================================================================== */
.page-brands

	// Section: Brands alphabet
	.alphabet
		margin-bottom: 48px
		&-list
			position: relative
			+media-breakpoint-down(lg)
				&::after
					content: ''
					pointer-events: none
					position: absolute
					top: 0
					right: 0
					z-index: 1
					width: 60px
					height: 100%
					background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%)
			> ul
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-top: -8px
				margin-bottom: -8px
				+media-breakpoint-down(lg)
					overflow-x: auto
					flex-wrap: nowrap
				> li
					position: relative
					margin-top: 8px
					margin-bottom: 8px
					&:not(:last-child)
						margin-right: 28px
					&:last-child > a
						position: relative
						z-index: 2
					> a
						display: inline-block
						+font-size(lg)
						white-space: nowrap

	// Section: Brands countries
	.countries
		margin-bottom: 48px
		&-item
			display: flex
			align-items: center
			> img
				flex: 0 0 auto
				width: 16px
				height: auto
				margin-right: 8px

	// Section: Brands list
	.brands
		margin-bottom: 48px
		&-item
			display: block
			text-align: center
			.photo
				height: 80px
				margin-bottom: 8px
			.title
				display: block
				padding-left: 4px
				padding-right: 4px


/* ==========================================================================
	 Single page brands
	 ========================================================================== */
.page-single-brands

	// Section: About brand
	.about
		&-heading
			position: relative
			padding-bottom: 24px
			&:hover
				.about-heading-btn
					.icon
						transform: scaleY(1)
				.about-heading-dropdown
					pointer-events: auto
					visibility: visible
					opacity: 1
					transform: translate3d(0, 32px, 0)
			&-btn
				color: $orange
				> .icon
					fill: $orange
			&-dropdown
				pointer-events: none
				position: absolute
				top: 0
				left: 0
				right: 0
				z-index: 99
				width: 100%
				padding: 24px 24px 32px
				box-shadow: $box-shadow
				background-color: $white
				visibility: hidden
				opacity: 0
				transform: translate3d(0, 40px, 0)
				transition: $trs
				&::before
					content: ''
					position: absolute
					top: -20px
					left: 42px
					display: block
					border: 10px solid $trsp
					border-bottom: 10px solid $white
				> ul > li > a
					display: block
					padding-top: 2px
					padding-bottom: 2px
					font-size: 14px
		&-content
			&-text
				> p:not(:first-child)
					display: none
			&-meta
				max-width: 208px
				.logo
					width: 208px
					height: 208px
					padding: 8px
					border: 1px solid $border
				.download
					margin-top: 8px
					> a
						display: flex
						align-items: center
						color: $text-300
						+font-size(xs)
						&:hover
							color: $orange
						> img
							flex: 0 0 auto
							width: 32px
							height: 32px
							margin-left: 8px

