/* ==========================================================================
	 Font size mixin
	 ========================================================================== */
@mixin font-size($size)
	@if $size == 'xxl'
		font-size: 34px
		line-height: 40px
		+media-breakpoint-down(lg)
			font-size: 27px
			line-height: 32px
		+media-breakpoint-down(md)
			font-size: 22px
			line-height: 32px

	@else if $size == 'xl'
		font-size: 27px
		line-height: 32px
		+media-breakpoint-down(lg)
			font-size: 22px
			line-height: 32px
		+media-breakpoint-down(md)
			font-size: 20px
			line-height: 24px

	@else if $size == 'lg'
		font-size: 22px
		line-height: 24px
		+media-breakpoint-down(lg)
			font-size: 18px

	@else if $size == 'md'
		font-size: 18px
		line-height: 24px
		+media-breakpoint-down(lg)
			font-size: 16px
			line-height: 22px

	@else if $size == 'sm'
		font-size: 15px
		line-height: 24px

	@else if $size == 'xs'
		font-size: 13px
		line-height: 16px
		letter-spacing: 0.02em

	@else if $size == 'xxs'
		font-size: 11px
		line-height: 16px
		letter-spacing: 0.1em

